.env
node_modules/
dist/
build/
.vscode/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production
npm-debug.log*

# Logs
logs
*.log
yarn-debug.log*

# Dependency directories
node_modules/
